bzg-tooltip {
  .tooltip-contents {
    color:#fafafa;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: rgb(21, 61, 81);
    border-radius: 3px;
  }

  .tooltip-down-arrow {
    height: 10px;
  }

  .tooltip-down-arrow:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 45%;
    bottom: 5px;
    background-color: rgb(21, 61, 81);
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    transform: rotate(-45deg);
  }

}

