$break-large: 1024px;
$tab-primary-color: #293843;
.bzg-tab-set {
  height: 68px;
  overflow: hidden;

  &__btn {
    padding: 0;
    display: flex;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #e3e3e3;
    &--primary {
      background-color: #f7f7f7;
    }
    &--secondary {
      background-color: transparent;
    }
    li {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      position: relative;
      font-weight: 500;
      text-transform: uppercase;
      top: 1px;
      flex: 1 1 auto;
      border: none;
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;
      &.active {
        border-bottom: 1.2px solid $tab-primary-color;
      }
      a {
        font-size: 77.5%;
        color: $tab-primary-color;
        padding: 1.3rem;
        display: block;
        text-decoration: none;
      }
    }
  }

}

@media only screen and (min-width: $break-large) {
  ul.bzg-tab-set__btn {
    li {
      padding: .5em 1em .1em 1em;
      text-transform: none;
      flex: none;
    }
  }
}