@import '../variables.scss';

.bzg-button {
  color: rgba($white-color, 0.87);
  background-color: rgba($bzg-color-button-primary, 1);
  padding: 8px 16px;
  border-radius: 4px;
  transition: all ease-in 200ms;
  box-shadow: $bzg-shadow-xs;
  font-size: $bzg-font-size-m;
  line-height: 16px;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  font-weight: normal;
  &__content {
    opacity: 1;
    &__icon {
      font-size: 13px;
      position: relative;
      margin: 0 8px 0 0;
      overflow: hidden;
      display: inline;
      fill: #ffffff;
    }
  }

  &:hover {
    background-color: rgba($bzg-color-button-primary, 0.85);
    color: rgba(255, 255, 255, 1);
    box-shadow: $bzg-shadow-m;
  }
}
