@import '../bzg-base';

.bzg-inline-editor {
  width: 100%;
  display: flex;
  height: 37px;
  &__text {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__edit {
    height: 100%;
    width: 100%;
    &__input {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      input {
        width: calc(100% - 8px);
        padding: 0 4px;
        border-radius: 2px;
      }
    }
  }
  &__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 67px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    position: relative;
    align-items: center;

    &__btn {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 0 0 2px;
      padding: 0 4px;
      cursor: pointer;
    }
    &__btn-icon {
      height: 16px;
      width: 16px;
      display: inline-block;
      color: $bzg-color-text-primary;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      transition: all ease-in 250ms;
      &.init {
        background-image: url($bzg-svg-edit-outline);
      }
      &.trigger {
        background-image: url($bzg-svg-check-outline);
      }
      &.cancel {
        background-image: url($bzg-svg-close-outline);
      }
    }
  }
}

.bzg-fixed-tooltip {
  width: 100%;
  top: 38px;
  position: absolute;
  &__contents {
    color: $white-color;
    border: 1px solid $error-tooltip-color;
    padding: 8px 16px;
    background-color: $error-tooltip-color;
    border-radius: 4px;
    width: 90%;
    font-size: 15px;
  }

  &__down-arrow {
    height: 10px;
  }

  &__down-arrow:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 45%;
    top: 5px;
    background-color: $error-tooltip-color;
    border-left: 1px solid $error-tooltip-color;
    border-bottom: 1px solid $error-tooltip-color;
    transform: rotate(-45deg);
  }
}

.bzg-input-text {
  border: 1px solid #cacaca;
  color: rgb(53, 78, 94);
  height: 35px;
  &--error {
    border: 1px solid $error-tooltip-color;
  }
}
