<bzg-header [srcLogo]="'assets/sprite.svg#logo-bzg'"
            [srcIcon]="'assets/sprite.svg#clock'"
            [tagText]="'My App'">
  <span>My header content</span>
</bzg-header>

<bzg-header [srcLogo]="'assets/sprite.svg#logo-bzg'"
            [srcIcon]="'assets/sprite.svg#clock'"
            [tagText]="'My App2'"
            [styleConfig]="{'color-icon-header-primary': '#ea4f57','color-icon-header-secondary': '#a4dbd8','color-icon-header-fill': '#ffffff','color-header-primary': '#e0e4cb','color-header-secondary': '#f73f4c','color-header-fill': '#ffffff'}">
  <span>My header content 2</span>
</bzg-header>

<div>
  <h5 bzg-tooltip="Bzg Tooltip"> Bzg Components</h5>
</div>
<bzg-button (click)="exampleAction()"
            [text]="'this is my button'"
            [iconClass]="'bz-icon bz-icon-check-outline'">
</bzg-button>
