ul {
  margin: 4px;
  li {
    color: darkcyan;
  }
}

.my-icon {
  color: #1c25ff;
}

.bzg-test {
  width: 100%;
  .brick {
    background-color: rgba(156, 151, 155, 0.2);
    width: 400px;
    border-radius: 4px;
    height: 300px;
    margin: 5px;
    padding: 15px;
  }
}

