/* ==========================================================================
   Colors
   ========================================================================== */
$bzg-color-text-primary: #555555 !default;
$bzg-color-text-secondary: #B7B7B7;
$bzg-color-button-primary: #3a4d5a;
$bzg-color-button-secondary: transparent;
$bzg-color-danger: #D04454;
$bzg-color-warning: #9F6000;
$bzg-color-line: #DEDEDE;
$bzg-color-background: #F8F8F8;
$bzg-color-text-code: #165196;
$white-color: #FFFFFF;
$black-color: #000000;
$error-tooltip-color: #E95E59 !default;

/* ==========================================================================
   Border Radius
   ========================================================================== */
$bzg-border-radius-s: 2px;
$bzg-border-radius-m: 4px;
$bzg-border-radius-l: 8px;

/* ==========================================================================
   Fonts Variables
   ========================================================================== */
$bzg-font-family: "Open Sans", Arial, Helvetica, sans-serif;

/* Font Size
   ========================================================================== */
$bzg-font-size-base: 62.5%;
$bzg-font-size-xs: 1rem;
$bzg-font-size-s: 1.2rem;
$bzg-font-size-m: 1.4rem;
$bzg-font-size-l: 1.6rem;
$bzg-font-size-xl: 2.4rem;
$bzg-font-size-xxl: 2.7rem;
$bzg-font-size-xxxl: 3.6rem;

/* Font Weight
   ========================================================================== */
$bzg-font-weight-light: 300;
$bzg-font-weight-regular: 400;
$bzg-font-weight-semibold: 600;

/* ==========================================================================
   Gradients
   ========================================================================== */
/*$linear-gradient: linear-gradient(to left, $bzg-color-gradient-start, $bzg-color-gradient-end);
$linear-gradient-sites: linear-gradient(to left, #293741, #42535F);
$linear-gradient-to-bottom: linear-gradient(to bottom, $bzg-color-gradient-start, $bzg-color-gradient-end);*/

/* ==========================================================================
   Shadows
   ========================================================================== */
$bzg-shadow-xs: 0 0 4px rgba(0, 0, 0, .06), 0 2px 2px rgba(0, 0, 0, .12);
$bzg-shadow-s: 0 2px 2px rgba(0, 0, 0, .12), 0 2px 6px rgba(0, 0, 0, .24);
$bzg-shadow-m: 0 2px 8px rgba(0, 0, 0, .14), 0 4px 4px rgba(0, 0, 0, .12), 0 8px 8px rgba(0, 0, 0, .06);
$bzg-shadow-l: 0 4px 16px 2px rgba(0, 0, 0, .08), 0 6px 32px 6px rgba(0, 0, 0, .08), 0 8px 8px rgba(0, 0, 0, .16);

/* ==========================================================================
   Space
   ========================================================================== */

/* Use padding. Components like: Cards
   ========================================================================== */
$bzg-space-inset-default: 1.6rem;
$bzg-space-inset-xs: .4rem;
$bzg-space-inset-s: .8rem;
$bzg-space-inset-m: 1.6rem;
$bzg-space-inset-l: 3.2rem;

/* Use padding. Components like: Buttons
   ========================================================================== */
$bzg-space-inset-squish-default: .8rem 1.6rem;
$bzg-space-inset-squish-s: .4rem .8rem;
$bzg-space-inset-squish-m: .8rem 1.6rem;
$bzg-space-inset-squish-l: 1.6rem 3.2rem;

/* Use margin-bottom. Vertical space
   ========================================================================== */
$bzg-space-stack-default: 1.6rem;
$bzg-space-stack-xs: .4rem;
$bzg-space-stack-s: .8rem;
$bzg-space-stack-m: 1.6rem;
$bzg-space-stack-l: 3.2rem;

/* Use margin-right. Horizontal space
   ========================================================================== */
$bzg-space-inline-default: 1.6rem;
$bzg-space-inline-xs: .4rem;
$bzg-space-inline-s: .8rem;
$bzg-space-inline-m: 1.6rem;
$bzg-space-inline-l: 3.2rem;

/* Grids
   ========================================================================== */
$neat-grid: (columns: 12, gutter: 1.6rem,);
$reset-gutter: (gutter: 0);
$custom-neat-grid: (columns: 12, gutter: 0, media: 1000px,);

$bzg-svg-edit-outline: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='"+$bzg-color-text-primary+"'><path d='M429 180q-6 0-11-4l-81-80q-4-5-4-11.5t4-11.5l19-18q9-9 24-15t27.5-6 28 6T460 55q8 9 14.5 24t6.5 27.5-6.5 28T460 158l-19 19q-4 4-10 4-1 0-2-1zm-58-96l58 59 8-8q12-12 12-29t-12-29-29-12-29 12zm19 120q5 4 5 10 0 7-5 12L168 448q-3 4-8 5L52 480h-6q-6 0-10-4-5-4-5-11 0-2 1-4l27-107q0-4 4-7l224-224q4-5 11-5t11 5zM70 443l55-14-41-41zm86-27l200-201-58-58L98 357z'/></svg>";
$bzg-svg-check-outline: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='"+$bzg-color-text-primary+"'><path d='M477 106q5 11 0 22L218 390q-4 4-13.5 4t-12.5-4L35 234q-6-13 3-23 5-5 11.5-5t11.5 5l144 144 249-249q12-12 23 0z'/></svg>";
$bzg-svg-close-outline: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='"+$bzg-color-text-primary+"'><path d='M278 256l199 195q5 5 5 11.5t-5 11.5q-3 3-13 3t-13-3L256 278 61 477q-3 3-13 3t-10-6q-4-5-4-11.5t4-11.5l196-195L35 61q-3-6-3.5-14T35 35q5-2 13-2t13 2l195 199L451 38q11-11 22.5.5T474 61z'/></svg>";

