
/* ==========================================================================
   Colors
   ========================================================================== */
$bzg-color-text-primary: #555555;
$bzg-color-text-secondary: #B7B7B7;
$bzg-color-button-primary: #3a4d5a;
$bzg-color-button-secondary: transparent;
$bzg-color-danger: #D04454;
$bzg-color-warning: #9F6000;
$bzg-color-line: #DEDEDE;
$bzg-color-background: #F8F8F8;
$bzg-color-text-code: #165196;
$white-color: #FFFFFF;
$black-color: #000000;

/* ==========================================================================
   Border Radius
   ========================================================================== */
$bzg-border-radius-s: 2px;
$bzg-border-radius-m: 4px;
$bzg-border-radius-l: 8px;

/* ==========================================================================
   Fonts Variables
   ========================================================================== */
$bzg-font-family: "Open Sans", Arial, Helvetica, sans-serif;

/* Font Size
   ========================================================================== */
$bzg-font-size-base: 62.5%;
$bzg-font-size-xs: 1rem;
$bzg-font-size-s: 1.2rem;
$bzg-font-size-m: 1.4rem;
$bzg-font-size-l: 1.6rem;
$bzg-font-size-xl: 2.4rem;
$bzg-font-size-xxl: 2.7rem;
$bzg-font-size-xxxl: 3.6rem;

/* Font Weight
   ========================================================================== */
$bzg-font-weight-light: 300;
$bzg-font-weight-regular: 400;
$bzg-font-weight-semibold: 600;

/* ==========================================================================
   Gradients
   ========================================================================== */
/*$linear-gradient: linear-gradient(to left, $bzg-color-gradient-start, $bzg-color-gradient-end);
$linear-gradient-sites: linear-gradient(to left, #293741, #42535F);
$linear-gradient-to-bottom: linear-gradient(to bottom, $bzg-color-gradient-start, $bzg-color-gradient-end);*/

/* ==========================================================================
   Shadows
   ========================================================================== */
$bzg-shadow-xs: 0 0 4px rgba(0, 0, 0, .06), 0 2px 2px rgba(0, 0, 0, .12);
$bzg-shadow-s: 0 2px 2px rgba(0, 0, 0, .12), 0 2px 6px rgba(0, 0, 0, .24);
$bzg-shadow-m: 0 2px 8px rgba(0, 0, 0, .14), 0 4px 4px rgba(0, 0, 0, .12), 0 8px 8px rgba(0, 0, 0, .06);
$bzg-shadow-l: 0 4px 16px 2px rgba(0, 0, 0, .08), 0 6px 32px 6px rgba(0, 0, 0, .08), 0 8px 8px rgba(0, 0, 0, .16);

/* ==========================================================================
   Space
   ========================================================================== */

/* Use padding. Components like: Cards
   ========================================================================== */
$bzg-space-inset-default: 1.6rem;
$bzg-space-inset-xs: .4rem;
$bzg-space-inset-s: .8rem;
$bzg-space-inset-m: 1.6rem;
$bzg-space-inset-l: 3.2rem;

/* Use padding. Components like: Buttons
   ========================================================================== */
$bzg-space-inset-squish-default: .8rem 1.6rem;
$bzg-space-inset-squish-s: .4rem .8rem;
$bzg-space-inset-squish-m: .8rem 1.6rem;
$bzg-space-inset-squish-l: 1.6rem 3.2rem;

/* Use margin-bottom. Vertical space
   ========================================================================== */
$bzg-space-stack-default: 1.6rem;
$bzg-space-stack-xs: .4rem;
$bzg-space-stack-s: .8rem;
$bzg-space-stack-m: 1.6rem;
$bzg-space-stack-l: 3.2rem;

/* Use margin-right. Horizontal space
   ========================================================================== */
$bzg-space-inline-default: 1.6rem;
$bzg-space-inline-xs: .4rem;
$bzg-space-inline-s: .8rem;
$bzg-space-inline-m: 1.6rem;
$bzg-space-inline-l: 3.2rem;

/* Grids
   ========================================================================== */
$neat-grid: ( columns: 12, gutter: 1.6rem, );
$reset-gutter: ( gutter: 0 );
$custom-neat-grid: ( columns: 12, gutter: 0, media: 1000px, );
