<header class="bzg-header" role="banner" [ngStyle]="getHeaderStyles()">
  <div class="bzg-header__icon" [ngStyle]="getHeaderIconStyles()">
    <bzg-icon *ngIf="srcIcon || nameIcon"
              class="bzg-header__icon--contrast"
              [srcIcon]="srcIcon"
              [nameIcon]="nameIcon"
              [size]="50"
    ></bzg-icon>
    <div *ngIf="!(srcIcon || nameIcon)" class="bzg-header__icon--empty">
      <h3><></h3>
    </div>
  </div>
  <div class="bzg-header__container">
    <a href="#" class="bzg-logo-link">
      <svg *ngIf="srcLogo" class="bzg-logo-link__img" viewBox="0 0 283.5 103.3">
        <use [attr.xlink:href]="srcLogo"></use>
      </svg>
      <div *ngIf="!srcLogo" class="bzg-logo-link__img--empty">
        <span>Bzg-components</span>
      </div>
      <p class="bzg-logo-link__tag">{{tagText}}</p>
    </a>
    <ng-content></ng-content>
  </div>
</header>
