@import '../base.scss';

.bzg-user {
  align-items: center;
  display: flex;
  position: relative;
  &__info {
    margin-right: $bzg-space-inline-m;
    > p {
      color: $white-color;
      margin-bottom: 0;
      text-align: right;

      &:first-child {
        line-height: 1;
      }

      &:last-child {
        font-weight: $bzg-font-weight-light;
      }
    }
  }

  &__menu {
    position: absolute;
    display: block;
    align-self: center;
    opacity: 0;
    margin: 0;
    padding: 0;
  }

  &.open {
    .bzg-user__menu {
      background-color: $white-color;
      border-radius: $bzg-border-radius-m;
      box-shadow: $bzg-shadow-xs;
      color: $white-color;
      padding: 0.8rem 0 ;
      position: absolute;
      right: 0;
      opacity: 1;
      margin-top: 0;
      pointer-events: all;
      min-width: 100%;
      top: 112%;
      z-index: 1;

      &:before,
      &:after {
        position: absolute;
        top: -8px;
        right: 17px;
        display: inline-block;
        content: "";
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
      &:before {
        border-bottom: 8px solid #e0e0e0;
      }
      &:after {
        border-bottom: 8px solid #fff;
      }
    }
  }

}


